body{
	background: #E6E6E6;
	
	
}

li:hover{
	background: rgba(21,176,13,.5);
}
nav{}
.barra{
	background: #2E2E2E;
	color:#fff;
	min-width: auto;
	min-height: 100vh;
	border-bottom:  1px solid white;
	margin: 0;
	padding: 0;

}
.barra .menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px;
	border-bottom:  1px solid white;
}
.barra .menu a:hover{

	background: rgba(21,176,13,.5);
}
.act{
	background: rgba(21,176,13,.5);
}
i{
	font-weight: normal;
}
.bot{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
iframe{
	width: 100%; height: 100vh;
}